html,body {
	height: 100%;
}

body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Monospace;
	font-weight: bold;
	overflow: hidden;
}

#window {
	background-color: #8A8A5C;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#menu {
	background: #999966 url("../image/icon-menu.png") no-repeat right center;
	width: 100%;
	height: 40px;
	position: relative;
	margin: 0px auto;
	padding: 0;
	border: 0;
}

#menu ul,ul li {
	display: block;
}

#menu ul {
	border-bottom: 1px dotted black;
	float: left;
	width: 60%;
	padding-left: 20px;
}

#menu ul li {
	float: left;
	margin-right: 10px;
}

#menu ul a:link,#menu ul a:visited {
	text-decoration: none;
	display: block;
	background-color: #ccc;
	padding: 5px 10px;
	border: 1px dotted white;
	position: relative;
	top: 1px;
	color: black;
	box-shadow: black 5px 5px 6px;
	border-radius: 5px;
}

#menu ul a:hover {
	background-color: white;
}

#contents {
	clear: both;
	background: #C2C2A3;
	width: 80%;
	height: 100%;
	margin: 0px auto;
	padding-top: 5px;
	padding-left: 30px;
	border: 1px dotted black;
	position: relative;
	background: #C2C2A3;
}

#footer {
	background-color: #6B6B47;
	width: 100%;
	height: 15px;
	text-align: right;
	color: black;
	font: italic small-caps 10px Verdana, sans-serif;
	bottom: 0;
	position: absolute;
	padding: 0;
	border: 0;
}

form {
	color: black;
	margin: 20px auto auto 50px;
	width: 500px;
	height: auto;
	position: relative;
	border: 1px dotted #262626;
}

div.form textarea {
	width: 400px;
	height: 200px;
	border: 1px solid #000000;
	background-color: #CCCCCC;
}

div.form textarea.big {
	width: 400px;
	height: 350px;
}

div.form h1 {
	color: black;
	font-size: 14px;
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #161712;
	border-top: 1px solid #161712;
}

div.form label {
	width: 100%;
	height: 16px;
	color: #333333;
	display: block;
	border: 1px dashed #666666;
	padding: 2px;
}

div.form label span {
	display: block;
	color: black;
	font-size: 12px;
	float: left;
	width: 100px;
	text-align: right;
	padding: 5px 20px 0 0;
}

div.form .inputSimple {
	margin: 1px;
	color: black;
	padding: 2px;
	width: 200px;
	height: 16px;
	background: #CFCFCF;
	border: 1px dotted #4C3C1B;
	color: black;
}

div.form .button {
	margin-top: 10px;
	margin-left: 150px;
	-moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
	box-shadow: inset 0px -1px 0px 0px #ffffff;
	background-color: #CCCCCC;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #999966;
	display: inline-block;
	color: #4d4d4d;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 33px;
	text-decoration: none;
}

div.form .button:hover {
	background-color: #dcdcdc;
	border-style: inset;
	color: black;
}

div.form .button:active {
	position: relative;
	top: 1px;
}

div.form .input #buttonLogin {
	color: red;
}